* {
  box-sizing: border-box;
  border: 1px dotted red !important;
}

html {
  font-size: 16px;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  height: 100vh;
}

.main-container {
  height: 100%;
  display: flex;
}

.form-container {
  width: 75%;
  display: flex;
  flex-direction: column;
  padding: 1%;
}

.aside-logo {
  width: 25%;
  background-image: url("/leaf.jpg");
  background-size: 100% 100%;
}

.logo-background {
  position: relative;
  top: 13.8%;
  height: 20%;
  background-color: black;
  opacity: 0.5;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3%;
}

img {
  height: 95%;
}

h2 {
  font-size: 32px;
  font-weight: bolder;
  color: white;
}

.main-text,
.signup-form,
.submit-form {
  height: 33.33%;
}

input {
  display: block;
}

.form-names,
.form-contact,
.form-password {
  display: flex;
  gap: 10%;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.5em;
}
